---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main class="w-full h-screen grid place-items-center bg-cream">
		<div class="h-auto w-[340px]  rounded-lg bg-white flex flex-col desktop:grid desktop:grid-cols-2 desktop:w-[600px]">
			<picture class="w-full desktop:flex-grow">
				<source media="(min-width: 1440px)" srcset="/images/image-product-desktop.jpg">
				<img class="rounded-t-lg  desktop:rounded-tr-none desktop:rounded-l-xl w-full h-full"  src="/images/image-product-mobile.jpg" alt="perfume chanel">
			</picture>
			<div class="h-auto w-full pt-4 pb-7 px-7 flex flex-col justify-between space-y-5 desktop:space-y-3 desktop:flex-grow">
				<div>
					<span class="block font-montserrat font-thin tracking-[7px] text-xs text-dark-graysih-blue pt-2 pb-4 desktop:pt-4">PERFUME</span>
					<h1 class="font-bold text-4xl font-fraunces pb-4 leading-8">Gabrielle Essence Eau De Parfum</h1>
					<p class=" text-dark-graysih-blue font-montserrat text-xs leading-6 tracking-wide desktop:text-sm desktop:pt-4 desktop:leading-[25px]">
						A floral, solar and voluptuous interpretation composed by Olivier Polge, Perfumer-Creator for the House of CHANEL.
					</p>
				</div>

				<!-- Using postcss -->
				<div class="price-btn-container">
					<div class="price-container">
						<span class="price--big">$149.99</span>
						<span class="price-small">$169.99</span>
					</div>
					<button class="btn-cta__primary bg-dark-cyan space-x-4 desktop:hover:bg-green-900 transition-all duration-500">
						<img src="/images/icon-cart.svg" alt="Icon cart">
						<span>Add to Cart</span>
					</button>
				</div>
			</div>
		</div>
	</main>
</Layout>

<style>
	:root {
		--dark-cyan: #3c8067;
		--cream: #f2ebe3;
		--very-dark-blue: #1c232b;
		--dark-graysih-blue: #6c7289;
		--white: #ffffff;
		--montserrat: 'Montserrat', "sans-serif";
		--fraunces: 'Fraunces', serif;
	}
	.price-btn-container {
		display: flex;
		flex-direction: column;
		& .price-container {
			inline-size: 100%;
			inline-block: 20px;
			padding: 10px 0;
			display: flex;
			align-items: center;
			& .price--big {
				font-size: 36px;
				font-family: var(--fraunces);
				color: var(--dark-cyan);
			}
			& .price-small {
				padding-left: 20px;
				font-size: 13px;
				font-family: var(--montserrat);
				text-decoration:line-through;
				color: var(--dark-graysih-blue);
			}
		}
		& .btn-cta__primary {
			inline-size: 100%;
			padding: 13px 10px 13px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: bold;
			border-radius: 8px;
			color: var(--white);
			& img {
				display: inline-block;
			}
			& span {
				font-size: 15px;
			}
		}
	}
</style>